
/* footer */

.footer{
    background: #efffff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box{
    padding: 1rem 0;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #12c2b9;
    padding: 1rem 0;
    text-transform: capitalize;
}

.footer .box-container .box h3 i{
    padding-right: .5rem;
}

.footer .box-container .box p{
    font-size: 1.4rem;
    color: #000;
    padding: 1rem 0;
    line-height: 2;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color: #12c2b9;
}

.footer .box-container .box .share{
    padding-top: 1rem;
}

.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: .2rem solid #12c2b9;
    color: #12c2b9;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    color: #fff;
    background: #12c2b9;
}

.footer .box-container .box form .email{
    width: 100%;
    border-radius: .5rem;
    border: .2rem solid #12c2b9;
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color:#000;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
}

.footer .box-container .box form .btn{
    cursor: pointer;
    width: max-content;
}
.footer .box-container .box form .btn:hover{
    background-color: #59d6d2;
}
.footer .credit{
    font-size: 1.6rem;
    text-align: center;
    border-top: .1rem solid #000;
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: capitalize;
}

.footer .credit span{
    color: #12c2b9;
}

/* end */


