@media(max-width:991px){
    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

    .header-top{
        padding: 1.4rem;
    }

    .header-main{
        padding: 2rem;
    }

    .category__box-container{
        grid-template-columns: repeat(4, 1fr);
    }

    .products-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}



@media(max-width:768px){

    .header-top{
        justify-content: center;
    }

    .header-top .social{
        display: none;
    }

    .header-main .logo i{
        font-size: 3.5rem;
    }

    #menu{
        display: inline-block;
    }

    .header-main .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border-top: .1rem solid rgba(0, 0, 0, 0.3);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        z-index: 1000;
    }

    .header-main .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header-main .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2rem;
    }

    .header-main .logo{
        font-size: 4rem;
    }

    .cate__box{
        height: 120px;
    }

    .cate__banner-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .about .container .about-content{
        padding-left: 0;
    }

    .products-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media(max-width:550px){

    .show-scroll{
        visibility: visible;
        bottom: 4rem;
        right: 2rem;
    }

    .banner #banner-slide-next,
    .banner #banner-slide-prev{
        bottom: -1rem;
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
    }

    .slide-showcase{
        padding: 2rem 1rem;
    }



    .products-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .product-showcase .product__img-box{
        height: 160px;
    
    }
    
}


@media(max-width:450px){
    html{
        font-size: 45%;
    }

    .header .search-form{
        width: 40rem;
    }

    .category__box-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .cate__banner-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}


@media(max-width:375px){

    .header-main .logo{
        font-size: 3rem;
    }
    
    .header-main .logo i{
        padding-right: .5rem;
        font-size: 2.75rem;
    }
    

    .category__box-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .products-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}